Source: lliurex-moving-core
Section: x11
Priority: extra
Maintainer: LliureX Team <lliurex@gva.es>
Build-Depends: python-dev, debhelper (>= 10), cdbs, dh-python
Standards-Version: 4.1.2
XS-Python-Version: current

Package: lliurex-moving-core
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: libc6, python, rsync
Description: Lliurex moving profile manager
 LliureX Moving core files
