Source: lliurex-moving-core
Section: x11
Priority: extra
Maintainer: LliureX Team <lliurex@gva.es>
Build-Depends: python3-dev, debhelper (>= 10), cdbs, dh-python, python3-all, python3-setuptools, python3-n4d-client
Standards-Version: 4.1.2
XS-Python-Version: current

Package: lliurex-moving-core
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: python3, rsync, lliurex-desktop-defaults
Description: Lliurex moving profile manager
 LliureX Moving core files
