Source: lliurex-moving-core
Section: libs
Priority: extra
Maintainer: LliureX Team <lliurex@gva.es>
Build-Depends: debhelper (>= 10), cdbs, python3, dh-python, python3-minimal, python3-setuptools, python3-n4d-client
Standards-Version: 4.1.2

Package: lliurex-moving-core
Architecture: all
Depends: ${python3:Depends}, python3, rsync, lliurex-desktop-defaults, python3-n4d-client
Description: Lliurex moving profile manager
 LliureX Moving core files
